@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<QLKhachSan.ViewModels.KhachSanVM>
@{
    ViewData["Title"] = "KhachSanTheoTinh";
    Layout = "_LayoutKhachSan";
}
<div class="row">
    <aside class="sidebar col-lg-3 order-1 order-lg-0">
        <div class="sidebar__content js-sticky-top">
            <div class="sidebar-filter modal card fade" id="sidebarFilter" tabindex="-1" role="dialog">
                <input hidden id="matinh" name="matinh" value="@ViewBag.matinh" />
                <button class="btn-toggle btn btn-light" type="button" data-dismiss="modal"><span class="icon-bar"></span></button>
                <div class="modal-header bg-white">
                    <h4 class="modal-title">Refine search result</h4>
                </div>
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <ul class="sidebar-filter__list">
                                <li class="sidebar-filter__item">
                                    <h5 class="sidebar-filter__title"><a class="sidebar-filter__toggle d-flex justify-content-between align-items-center" href="#price" data-toggle="collapse" role="button"><span>Giá trung bình</span><i class="fa fa-angle-down"></i></a></h5>
                                    <div class="collapse show" id="price">
                                        <div class="sidebar-filter__content">
                                            <label class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" /><span class="custom-control-label pointer">50 - 99 €</span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" /><span class="custom-control-label pointer">100 - 149 €</span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" /><span class="custom-control-label pointer">150 - 199 €</span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" /><span class="custom-control-label pointer">200 € +</span>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                <li class="sidebar-filter__item">
                                    <h5 class="sidebar-filter__title"><a class="sidebar-filter__toggle d-flex justify-content-between align-items-center" href="#accommodation" data-toggle="collapse" role="button"><span>Khu vực</span><i class="fa fa-angle-down"></i></a></h5>
                                    <div class="collapse show" id="accommodation">
                                        <div class="sidebar-filter__content">
                                            @foreach(var i in ViewBag.khuvuc)
                                            {
                                                <label class="custom-control custom-checkbox">
                                                    <input class="custom-control-input kv-checkbox" type="checkbox" data-khuvuc ="@i" value="@i" /><span class="custom-control-label pointer">@i</span>
                                                </label>
                                            }
                                        </div>
                                    </div>
                                </li>
                                <li class="sidebar-filter__item">
                                    <h5 class="sidebar-filter__title"><a class="sidebar-filter__toggle d-flex justify-content-between align-items-center" href="#HotelAttrs" data-toggle="collapse" role="button"><span>Xếp hạng</span><i class="fa fa-angle-down"></i></a></h5>
                                    <div class="collapse show" id="HotelAttrs">
                                        <div class="sidebar-filter__content">
                                            <label class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" /><span class="custom-control-label pointer">1 sao</span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" /><span class="custom-control-label pointer">2 sao</span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" /><span class="custom-control-label pointer">3 sao</span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" /><span class="custom-control-label pointer">4 sao</span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" /><span class="custom-control-label pointer">5 sao</span>
                                            </label>
                                            <label class="custom-control custom-checkbox">
                                                <input class="custom-control-input" type="checkbox" /><span class="custom-control-label pointer">Không có xếp hạng</span>
                                            </label>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </aside>
    <div class="col-lg-9 category-content">
        <nav class="sortbar navbar shadow-sm d-flex align-items-stretch">
            <div class="sortbar__title d-flex align-items-stretch">
                <button class="navbar-brand d-flex align-items-center pointer js-toggle-sidebar" data-target="#sidebarFilter" data-toggle="modal" type="button"><i class="d-lg-none icon icon-filter"></i><span class="ml-2 d-none d-lg-inline">Sort by:</span></button>
            </div>
            <div class="sortbar__sort js-sorting d-flex align-items-stretch"><a class="nav-link" href="#">Popularity</a><a class="nav-link" href="#">Price</a><a class="nav-link" href="#">Stars</a><a class="nav-link" href="#">Rating</a><a class="nav-link d-flex d-md-none align-items-center" href="#"><span class="mr-2">Sort by</span><i class="icon icon-sort-duble"></i></a></div>
            <div class="sortbar__grid d-flex align-items-stretch ml-md-auto"><a class="nav-link active js-toggle-grid" href="#" data-grid="grid" data-cols="col-12 col-sm-6 col-xl-4 d-flex"><i class="icon icon-grid"></i></a><a class="nav-link js-toggle-grid" href="#" data-grid="list" data-cols="col-12 d-flex"><i class="icon icon-list-mb"></i></a></div>
        </nav>
        <div class="category-content__items row pad-lg-20" id="result-container">
            @foreach (var item in Model)
            {
                <div class="col-12 col-sm-6 col-xl-4 d-flex">
                    <div class="product bg-white js-grid-item">
                        <div class="product__special bg-primary text-white">
                            special price
                        </div>
                        <a class="product__img-top d-block" asp-controller="Home" asp-action="ChiTietKS" asp-route-MaKS="@item.MaKS">
                            <img class="img-fluid" src="@Url.Content($"~/img/Images/{item.Anh}")" alt="#" />
                        </a>
                        <div class="product__body">
                            <h4 class="product__title"><a asp-controller="Home" asp-action="ChiTietKS" asp-route-MaKS="@item.MaKS">@item.TenKS</a></h4>
                            <div class="product__rating mb-2">
                                <div class="rating">
                                    <select class="js-rating-stat" id="ratingSelect" data-current-rating="5">
                                        @if (item.DanhGia == 1)
                                        {
                                            <option value="1" selected="selected">1</option>
                                        }
                                        else
                                        {
                                            <option value="1">1</option>
                                        }

                                        @if (item.DanhGia == 2)
                                        {
                                            <option value="2" selected="selected">2</option>
                                        }
                                        else
                                        {
                                            <option value="2">2</option>
                                        }

                                        @if (item.DanhGia == 3)
                                        {
                                            <option value="3" selected="selected">3</option>
                                        }
                                        else
                                        {
                                            <option value="3">3</option>
                                        }

                                        @if (item.DanhGia == 4)
                                        {
                                            <option value="4" selected="selected">4</option>
                                        }
                                        else
                                        {
                                            <option value="4">4</option>
                                        }

                                        @if (item.DanhGia == 5)
                                        {
                                            <option value="5" selected="selected">5</option>
                                        }
                                        else
                                        {
                                            <option value="5">5</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <ul class="product__stat d-flex flex-wrap justify-content-between align-items-center">
                                <li class="mr-3"><span>@item.DiaChi</span><br><i class="bullet"></i><a href="#modalMap" data-toggle="modal" data-title="@item.TenKS">Show on map</a></li>
@*                                 <li class="d-inline-flex align-items-center"><i class="icon icon-thumbs-up mr-1"></i><span>8/10</span></li> *@
                            </ul>
                            <hr />
@*                             <ul class="product__price d-flex justify-content-between align-items-center">
                                <li class="mr-2"><span>Price per night from</span></li>
                                <li>
                                    <span class="cost">@ViewBag.giatb €</span>
                                </li>
                            </ul> *@
                            <hr />
                            <div class="product__desc">
                                <p>The air-conditioned rooms have a balcony with views of the sea or the garden. Each spacious room has a TV with satellite channels. The private bathrooms at the... </p><a class="product__link-more" href="hotel.html">Read more</a>
                            </div>
                        </div>
                        <hr class="d-none d-sm-block" />
                        <div class="product__footer">
                            <ul class="product__price d-flex justify-content-between align-items-center">
                                <li class="mr-2"><span>Price per night from</span></li>
                                <li>
                                    <span class="cost">@ViewBag.giatb €</span>
                                </li>
                            </ul><a class="product__btn-book btn btn-secondary btn--round" asp-controller="Home" asp-action="ChiTietKS" asp-route-MaKS="@item.MaKS">book now</a>
                        </div>
                    </div>
                </div>
            }
        </div>

        <nav class="pagination-nav" aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-double-left"></i></a></li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item align-self-end d-sm-none">
                    <a class="dotted" href="#">......</a>
                </li>
                <li class="page-item d-none d-sm-block">
                    <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item d-none d-sm-block">
                    <a class="page-link" href="#">5</a>
                </li>
                <li class="page-item d-none d-sm-block">
                    <a class="page-link" href="#">6</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">7</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">8</a>
                </li>
                <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
        </nav>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.kv-checkbox').change(function () {
            updateHotel();
        });
        function updateHotel() {
            var selectKhuvuc = [];
            $('.kv-checkbox:checked').each(function () {
                selectKhuvuc.push($(this).data('khuvuc'));
            });
            var matinh = $('#matinh').val();
            $.ajax({
                url: '/Home/LocKhachSan',
                type:'POST',
                data:{
                    selectKhuvuc:selectKhuvuc,
                    matinh:matinh
                },
                success: function (result) {
                    $('#result-container').html(result);
                },
                error: function () {
                    console.log('Lỗi khi lựa chọn');
                }
            });
        }
    });
</script>